In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline
from sklearn.datasets import fetch_california_housing

In [2]:
california_houses=fetch_california_housing()

In [3]:
df=pd.DataFrame(california_houses.data,columns=california_houses.feature_names)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

In [4]:
df['MedV']=california_houses.target
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
 8   MedV        20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [5]:
df['Latitude'].value_counts()

Latitude
34.06    244
34.05    236
34.08    234
34.07    231
34.04    221
        ...
41.01      1
41.36      1
41.13      1
40.30      1
35.88      1
Name: count, Length: 862, dtype: int64

In [6]:
df['Longitude'].value_counts()

Longitude
-118.31    162
-118.30    160
-118.29    148
-118.27    144
-118.32    142
          ...
-123.54      1
-115.94      1
-115.99      1
-116.81      1
-123.71      1
Name: count, Length: 844, dtype: int64

In [8]:
df.groupby(by='Latitude')['Longitude'].max()

Latitude
32.54   -117.04
32.55   -117.04
32.56   -116.97
32.57   -117.05
32.58   -117.04
          ...
41.84   -124.30
41.86   -121.93
41.88   -123.83
41.92   -124.16
41.95   -122.64
Name: Longitude, Length: 862, dtype: float64